{{!< default}} 
    <div class="content-area">
        <main class="site-main">
    
            {{#post}}
                
                <div class="post-feed gh-feed">
                    {{#match @page.show_title_and_feature_image}}
                    <header class="gh-article-header gh-canvas">
                        {{> "feature-image"}}
                    
                        <h1 class="gh-article-title">{{title}}</h1>
                    
                        {{#if custom_excerpt}}
                        <div class="gh-article-excerpt">{{custom_excerpt}}</div>
                        {{/if}}
                    </header>
                    {{/match}}
                    <div class="grid-item grid-sizer">
                        
                        {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                        {{#foreach tags}}
                        <div class="grid-item">
                        <img href='{{ url }}' src='{{ feature_image }}'>
                            <h2>{{ name }} <small>({{ count.posts }})</small></h2>
                        </img>
                        </div>
                        {{/foreach}}
                        {{/get}}
                    </div>
                </div>
    
            {{/post}}
    
        </main>
    </div>