{{!< default}} 
    <div class="content-area">
        <main class="site-main">
    
            {{#post}}
    
            <article class="{{post_class}} gh-article">
                {{#match @page.show_title_and_feature_image}}
                    <header class="gh-article-header gh-canvas">
                        {{> "feature-image"}}
                    
                        <h1 class="gh-article-title">{{title}}</h1>
                    
                        {{#if custom_excerpt}}
                            <div class="gh-article-excerpt">{{custom_excerpt}}</div>
                        {{/if}}
                    </header>
                {{/match}}
                <div class="gh-content gh-canvas grid-item grid-sizer">
                    {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                    {{#foreach tags}}
                    <div class="grid-item">
                    <a href='{{ url }}'>
                        <h2>{{ name }} <small>({{ count.posts }})</small></h2>
                    </a>
                    </div>
                    {{/foreach}}
                    {{/get}}
                </div>
            </article>
    
            {{/post}}
    
        </main>
    </div>